#mainheading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color:black;
    
}

#heading{
    margin-bottom: 1px;
}

#form{

    width: 50%;
    height: 4rem;
    margin-bottom: 1 rem;
}

#lining{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#title{
    width: 60%;
    height : 30%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-right: 0;
}
#sub_title{
    width: 30%;
    height : 30%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}


#note_text{
    width: 91%;
    height : 60%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-right: 5%;
}
